.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.card > a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card p {
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
