.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}

.footer-logoDH {
  align-items: center;
  display: flex;
  align-items: center;
}
.footer-logoDH > img {
  width: 200px;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logos > img {
  width: 30px;
  margin-left: 10px;
}
